{% block content %}

    <h2 piwik-enriched-headline>{{ 'NewspaperStatistics_ArticleId'|translate }}</h2>

    {{ getArticleId|raw }}

    <h2 piwik-enriched-headline>{{ 'NewspaperStatistics_PaywallPlan'|translate }}</h2>

    {{ getPaywallPlan|raw }}

{% endblock %}




